body {
  background: #ededed;
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3f729b;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  color: #1c2331;
}

.btn.btn-sm.indigo:hover {
  color: #fff;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5 {
  margin-bottom: 8rem !important;
}

#front-page-title-row {
  position: absolute;
  right: 10%;
  top: 40%;
  z-index: 1;
}

.blue-hex img {
    position: absolute;
    bottom: 0;
    right: 5px;
    height: 250px;
    width: 250px;
}

.right-hex img {
  width: 360px;
  height: 300px;
  top: -60px;
  right: -15px;
}

.left-hex img {
  width: 180px;
  height: 150px;
  top: 490px;
  left: 40px;
}

.home-page-characters {
    display: block;
    margin-top: 70px;
}

.home-page-characters img {
  width: 450px;
  height: 450px;
}
