body {
  background: #ededed;
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3f729b;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  color: #1c2331;
}

.btn.btn-sm.indigo:hover {
  color: #fff;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5 {
  margin-bottom: 8rem !important;
}

#front-page-title-row {
  position: absolute;
  right: 5%;
  top: 40%;
  z-index: 1;
}
.blue-hex {
    position: absolute;
    bottom: 10px;
    right: 10px
}

.right-hex {
  /*width: 10px;*/
    /*height: 10px;*/
    /*margin-top: 10px;*/
    /*margin-right: 10px;*/
    /*position: relative;*/
}
