
.words-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    text-align: right;
    padding: 45px 75px 0 170px;
}

.commander-word-container:nth-of-type(1) .words-wrapper{
    padding: 110px;
}

.title {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.content {
    direction: rtl;
}

pre {
    font-family: sans-serif;
    font-size: 18px;
    width: auto;
    direction: ltr;
    max-width: 600px;
}

.commander-word-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.commander-word-container-reverse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -380px;
    & .image {
        margin-right: 35px;
    }
}

.image {
    width: 500px;
}

.spaceship {
    position: relative;
    top: 11px;
    z-index: -1;
}

.looking {

}

.running {
    
}
